[database]
engine = django.db.backends.postgresql
host = 127.0.0.1
name = {{ postgresql_databases[0].name }}
user = {{ postgresql_users[0].name }}
password = {{ postgresql_users[0].password }}

[database.options]
connect_timeout = 20

[uwsgi]
uid = {{ app_user }}
gid = {{ app_user }}
harakiri = 120
vacuum = True
http-keepalive = true
pidfile = {{ app_directory }}/pid/polemarch.pid
log_file = {{ app_directory }}/logs/polemarch_web.log
# Uncomment it for HTTPS and install `uwsgi` pypi package to env:
addrport = 127.0.0.1:8080
# https = 0.0.0.0:443,{{ config_directory }}/polemarch.crt,{{ config_directory }}/polemarch.key

[worker]
# output will be /opt/polemarch/logs/polemarch_worker.log
logfile = {{ app_directory }}/logs/{PROG_NAME}_worker.log
# output will be /opt/polemarch/pid/polemarch_worker.pid
pidfile = {{ app_directory }}/pid/{PROG_NAME}_worker.pid
loglevel = INFO
